<!DOCTYPE html>
<html lang="en">
  <body>
    <main>
      <div>
        <h1>Hi I'm <%= user.firstName %></h1>
        <h1>Welcome to about page</h1>
        <h2>My last name is <%= user.lastName %></h2>
      </div>
    </main>
  </body>
</html>
