<!DOCTYPE html>
<html lang="en">
  <body>
    <main>
      <div>
        <h1>EJS TEMPLATE</h1>

        <h1>Hi I'm <%= user.firstName %></h1>
        <% if (user.admin) {%>

        <p>Let me tell you a secret: <b>I'm an admin</b></p>
        <% } %>

        <p>Welcome to Template with EJS</p>
      </div>
    </main>
  </body>
</html>
